/* CSS RESET */
* {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    height: 70px;
    background-color: #1F2937;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px 0;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Main section */

.main-section {
    height: 400px;
    background-color: #1f2937;
    padding:  60px 150px 60px;
    display: flex;
    justify-content: space-between;
}

.main-title {
    font-size: 48px;
    color: #F9FAF8;
}

.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.main-section article {
    max-width: 50%;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.main-section .image-placeholder {
    flex: 1 1 auto;
    background-color: gray;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-section button {
    width:  150px;
    color: white;
    background-color: #3882F6;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 12px;
}

/* Random Info */
.random-info {
    height: 400px;
    padding: 30px 150px 30px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.random-info h1 {
    padding-bottom: 30px;
}

.card-placeholder {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 10%;
    margin-bottom: 10px;
}

.card-container {
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.card-container article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center
}

/* Quote Section */

.quote-section {
    height: 300px;
    padding: 30px 150px 30px;
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    align-self: flex-end;
}